node_modules/
.env
.DS_Store
Thumbs.db
*.log
*.zip
*.db
!db/portfolio.db
db/portfolio.db
public/node_modules/
.vscode/

# Temporary / Deployment Artifacts
export_data.js
seed_data.js
deploy_final.zip
node_modules.zip
